
---
---

@import "{{ site.theme }}";


header {
  display: none;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

  
  .floatRight{float:right;margin-left:20px}

.profile-picture {
  border-radius: 50%;
}

body {
      font-family: "Times New Roman", Times, serif;
}

html, body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  
}
